In [2]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('data/train.csv')

In [4]:
df.head().T

                         0       1        2       3       4
id                       0       1        2       3       4
loc                   22.0    14.0     11.0     8.0    11.0
v(g)                   3.0     2.0      2.0     1.0     2.0
ev(g)                  1.0     1.0      1.0     1.0     1.0
iv(g)                  2.0     2.0      2.0     1.0     2.0
n                     60.0    32.0     45.0    23.0    17.0
v                   278.63  151.27   197.65   94.01   60.94
l                     0.06    0.14     0.11    0.19    0.18
d                    19.56     7.0     8.05    5.25    5.63
i                    14.25   21.11    22.76   17.86   12.44
e                  5448.79  936.71  1754.01  473.66  365.67
b                     0.09    0.05     0.07    0.03    0.02
t                   302.71   52.04    97.45   26.31   20.31
lOCode                  17      11        8       4       7
lOComment                1       0        0       0       0
lOBlank                  1       1        1       2       2
locCodeAndComment        0       0        0       0       0
uniq_Op               16.0    11.0     12.0     8.0     7.0
uniq_Opnd              9.0    11.0     11.0     6.0     6.0
total_Op              38.0    18.0     28.0    16.0    10.0
total_Opnd            22.0    14.0     17.0     7.0    10.0
branchCount            5.0     3.0      3.0     1.0     3.0
defects              False   False    False    True   False

In [ ]:
names = {
    'loc': 'line_of_code',
    'v(g)': '1', 'ev(g)': '2', 'iv(g)': '3',
    'n': 'halstead_total_operators_operands',
    'v': 'halstead_volume',
    'l': 'halstead_program_length',
    'd': 'halstead_difficulty',
    'i': 'halstead_intelligence',
    'e': 'halstead_effort',
    'b': '5',
    't': 'halstead_time',
    'lOCode': 'halstead_line_of_code',
    'lOComment': 'halstead_line_of_commands',
    'lOBlank': 'halstead_blank_lines',
    'locCodeAndComment': '6',
    'uniq_Op': 'unique_operators',
    'uniq_Opnd': 'unique_operands',
    'total_Op': 'total_operators',
    'total_Opnd': 'total operands',
    'branchCount': '7'
}

In [7]:
df[df['loc'] != df['lOCode']][['loc', 'lOCode']]

          loc  lOCode
0        22.0      17
1        14.0      11
2        11.0       8
3         8.0       4
4        11.0       7
...       ...     ...
101758   10.0       7
101759   27.0      23
101760   26.0      20
101761   10.0       7
101762  136.0     102

[101516 rows x 2 columns]

In [9]:
df[df['lOCode'] + df['lOComment'] != df['locCodeAndComment']][['lOCode', 'lOComment', 'locCodeAndComment']]

        lOCode  lOComment  locCodeAndComment
0           17          1                  0
1           11          0                  0
2            8          0                  0
3            4          0                  0
4            7          0                  0
...        ...        ...                ...
101758       7          0                  0
101759      23          0                  0
101760      20          0                  0
101761       7          0                  0
101762     102          1                  0

[93986 rows x 3 columns]

In [10]:
df['locCodeAndComment'].value_counts()

locCodeAndComment
0     93550
1      4221
2      1632
3       843
4       507
5       250
6       235
7       133
8       116
10       63
11       55
9        54
12       28
13       23
14       13
24        7
15        7
20        4
28        3
23        3
38        3
22        3
16        2
18        2
17        2
43        1
19        1
26        1
32        1
Name: count, dtype: int64

In [7]:
df.describe()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,t,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount
count,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,...,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000,101763.000000
mean,50881.000000,37.347160,5.492684,2.845022,3.498826,96.655995,538.280956,0.111634,13.681881,27.573007,...,1141.357982,22.802453,1.773945,3.979865,0.196604,11.896131,15.596671,57.628116,39.249698,9.839549
std,29376.592059,54.600401,7.900855,4.631262,5.534541,171.147191,1270.791601,0.100096,14.121306,22.856742,...,9862.795472,38.541010,5.902412,6.382358,0.998906,6.749549,18.064261,104.537660,71.692309,14.412769
min,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,25440.500000,13.000000,2.000000,1.000000,1.000000,25.000000,97.670000,0.050000,5.600000,15.560000,...,31.380000,7.000000,0.000000,1.000000,0.000000,8.000000,7.000000,15.000000,10.000000,3.000000
50%,50881.000000,22.000000,3.000000,1.000000,2.000000,51.000000,232.790000,0.090000,9.820000,23.360000,...,125.400000,14.000000,0.000000,2.000000,0.000000,11.000000,12.000000,30.000000,20.000000,5.000000
75%,76321.500000,42.000000,6.000000,3.000000,4.000000,111.000000,560.250000,0.150000,18.000000,34.340000,...,565.920000,26.000000,1.000000,5.000000,0.000000,16.000000,20.000000,66.000000,45.000000,11.000000
max,101762.000000,3442.000000,404.000000,165.000000,402.000000,8441.000000,80843.080000,1.000000,418.200000,569.780000,...,935923.390000,2824.000000,344.000000,219.000000,43.000000,410.000000,1026.000000,5420.000000,3021.000000,503.000000

In [8]:
df['defects'].value_counts()

defects
False    78699
True     23064
Name: count, dtype: int64

In [9]:
# normalizing column names
df.columns = df.columns.str.lower().str.replace(' ', '_')

# normalizing string values
string_columns = list(df.dtypes[df.dtypes == 'object'].index)
for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [11]:
df.head()

,id,loc,v(g),ev(g),iv(g),n,v,l,d,i,...,locode,locomment,loblank,loccodeandcomment,uniq_op,uniq_opnd,total_op,total_opnd,branchcount,defects
0,0,22.0,3.0,1.0,2.0,60.0,278.63,0.06,19.56,14.25,...,17,1,1,0,16.0,9.0,38.0,22.0,5.0,False
1,1,14.0,2.0,1.0,2.0,32.0,151.27,0.14,7.00,21.11,...,11,0,1,0,11.0,11.0,18.0,14.0,3.0,False
2,2,11.0,2.0,1.0,2.0,45.0,197.65,0.11,8.05,22.76,...,8,0,1,0,12.0,11.0,28.0,17.0,3.0,False
3,3,8.0,1.0,1.0,1.0,23.0,94.01,0.19,5.25,17.86,...,4,0,2,0,8.0,6.0,16.0,7.0,1.0,True
4,4,11.0,2.0,1.0,2.0,17.0,60.94,0.18,5.63,12.44,...,7,0,2,0,7.0,6.0,10.0,10.0,3.0,False

In [12]:
df.dtypes

id                     int64
loc                  float64
v(g)                 float64
ev(g)                float64
iv(g)                float64
n                    float64
v                    float64
l                    float64
d                    float64
i                    float64
e                    float64
b                    float64
t                    float64
locode                 int64
locomment              int64
loblank                int64
loccodeandcomment      int64
uniq_op              float64
uniq_opnd            float64
total_op             float64
total_opnd           float64
branchcount          float64
defects                 bool
dtype: object

In [13]:
df.nunique()

id                   101763
loc                     378
v(g)                    106
ev(g)                    71
iv(g)                    84
n                       836
v                      4515
l                        55
d                      3360
i                      5171
e                      8729
b                       315
t                      8608
locode                  298
locomment                91
loblank                  94
loccodeandcomment        29
uniq_op                  70
uniq_opnd               176
total_op                623
total_opnd              485
branchcount             144
defects                   2
dtype: int64

In [16]:
df.corrwith(df.defects).sort_values(ascending=False)

defects              1.000000
loc                  0.342642
branchcount          0.322827
v(g)                 0.301187
ev(g)                0.259928
n                    0.258080
loblank              0.257819
total_opnd           0.252752
locode               0.250604
total_op             0.250533
uniq_opnd            0.246113
iv(g)                0.245618
d                    0.241936
b                    0.232594
v                    0.231179
i                    0.208577
locomment            0.205402
uniq_op              0.178474
loccodeandcomment    0.133150
t                    0.099592
e                    0.095366
id                   0.001976
l                   -0.253237
dtype: float64