In [1]:
import pandas as pd
import numpy as np
from py_scripts.model_interface import predict_probabilities, ask_question

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

All the layers of TFBertForSequenceClassification were initialized from the model checkpoint at model.h5.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertForSequenceClassification for predictions without further training.

In [2]:
train_answers = pd.read_csv('data/train_answers.csv')
test_answers = pd.read_csv('data/test_answers.csv')

In [3]:
train_answers.head()

,answer_id,answer,course,year,attachments_files
0,156400,Alexey\nShould we use something non-standard t...,Machine Learning Zoomcamp,2021,NaN
1,634887,"No, I don't think there is anything you cannot...",Machine Learning Zoomcamp,2021,NaN
2,954016,"Alexey\nYes, you will be. You can submit the p...",Data Engineering Zoomcamp,2022,NaN
3,3699,Alexey\nI think the question refers to the hom...,Data Engineering Zoomcamp,2022,NaN
4,858915,"Dmitry\nIt's fine, because this is the showcas...",Machine Learning Zoomcamp,2021,NaN

In [4]:
test_answers.head()

,answer_id,answer,course,year,attachments_files
0,767296,Alexey\nProbably more than you want to put in....,Data Engineering Zoomcamp,2023,NaN
1,573165,"Yes, I can. There is actually an entire module...",Machine Learning Zoomcamp,2022,NaN
2,571892,Jeff\nI can try. I like Black a lot. If you ju...,Data Engineering Zoomcamp,2023,NaN
3,988549,"Again, you’ll probably hate me soon for saying...",Machine Learning Zoomcamp,2022,NaN
4,384381,Alexey\nThe first thing about the dataset – wh...,Data Engineering Zoomcamp,2023,NaN

In [6]:
answers = pd.concat([train_answers, test_answers])
len(answers)

913

In [8]:
question = 'Why did you use model2bin in the last question? It was not mentioned anywhere in homework.md.'
course = 'Machine Learning Zoomcamp'

In [11]:
proper_answers = answers.copy()
if course is not None:
    proper_answers = proper_answers[proper_answers['course'] == course]

# if len(course) == 0:
#     print('noting found')

def get_pred(q, ans) -> int :
    return predict_probabilities(q, ans)[1]

proper_answers['prob'] = proper_answers.apply(lambda row: get_pred(question, row['answer']), axis=1)

In [20]:
proper_answers.sort_values(by='prob', ascending=False)['answer'].tolist()[:5][1]

'Dmitry\nUsually I use the NumPy function.\xa0\nAlexey\nI think also the question is, “Do we need to transform the y variable in any way apart from this logarithmic transformation? Are there other transformations that we need to know?”\nDmitry\nI can think of the Box Cox transformation. There are certain types of transformations of the target variable, especially in the regression tasks. You have to make it more randomly distributed, for example. For sure, you can leave it like that, but the results, especially in a linear model because linear models really depend on the linearity, or the normal distribution of the target variable, so the results can be not very good.\xa0\nFor sure, throughout the course of the Zoomcamp, we will talk about the nonlinear methods such as end symbols, for example, end there. You can see that, for example, you can use it without transformation – using the trees.\nAlexey\nYeah, thanks. “Cox Box transformation” you said? [Dmitry agrees] I think this one turns any variable into a normal, right? [Dmitry agrees]'

In [3]:
question = 'I read a book that said the data engineering lifecycle is generation, storage, ingestion, transforming, and serving data. Do we do ingestion because we use an open dataset?'
course = 'Data Engineering Zoomcamp'
answers = ask_question(question, course, 3)
answers

["Victoria\nSQL is definitely super important. It will depend, as in any other role, on what the company is going to do. I personally don't really use much Python, outside of maybe some API scripts. But SQL is definitely the one I use every day and a lot. It could be very good if you're at least familiar with Python and can write with it. Then come data modeling concepts, because keep in mind that you have to focus a lot on transforming that data to be lighter use. Then it's very important that you know how to transform the data. Then, you would need to know some BI – being able to expose that data later on to some BI tools.\xa0\nThis doesn't mean that you need to focus on building dashboards or things like that, but at least know how that data could be used from a business perspective. Once you have that, then it’s also important to know concepts around data warehousing – at least know the parts of the ETL, ELT, all of these concepts. Know how the data gets to the data warehouse and be able to understand that to kind of cover both parts. It would be very important.",
 "I don't understand the question, to be honest. We don't have the generation part. The generation part is what was done already for us by the New York Taxi Limousine Company. Storage – yeah, they also store it. They host the data. And yeah, we cover ingestion, transform, and serving with the dashboard.",
 "Ankush\nWhat we use is basically unit testing. We rigorously unit test other small components and then there can be an end-to-end test in order to test the whole pipeline, basically. So that's the literature. [chuckles]\nAlexey\nI think there is a thing called Data Kitchen. They have a book, I think. They have this DataOps Cookbook, and I think it goes a bit into data quality topics. I think they talk a bit about that. But I don't remember how detailed it is. Maybe this is something you can check. Have you seen this one?\nAnkush\nNo, I'm just checking it out right now. So what's the point of Data Kitchen?\nAlexey\nI think they're consultants. “Stop band-aiding in your data pipeline.” I think they consult on how to do DataOps properly. Here, of course, you need to provide your email so they can try to get you as the client. [chuckles] But multiple people told me that this is a useful book."]