In [1]:
import pandas as pd
import numpy as np

In [2]:
from transformers import AutoTokenizer, TFAutoModelForSequenceClassification

In [3]:
questions = pd.read_csv('data/train_questions.csv')
answers = pd.read_csv('data/train_answers.csv')

In [5]:
answers

,answer_id,answer,course,year,attachments_files
0,156400,Alexey\nShould we use something non-standard t...,Machine Learning Zoomcamp,2021,NaN
1,634887,"No, I don't think there is anything you cannot...",Machine Learning Zoomcamp,2021,NaN
2,954016,"Alexey\nYes, you will be. You can submit the p...",Data Engineering Zoomcamp,2022,NaN
3,3699,Alexey\nI think the question refers to the hom...,Data Engineering Zoomcamp,2022,NaN
4,858915,"Dmitry\nIt's fine, because this is the showcas...",Machine Learning Zoomcamp,2021,NaN
...,...,...,...,...,...
392,831391,"Yes, it can. It's really dataset dependent. Fo...",Machine Learning Zoomcamp,2021,NaN
393,651754,"Let's say I do “import numpy as np” and then, ...",Machine Learning Zoomcamp,2021,NaN
394,733226,Alexey\nSplunk – I don’t know. It's not a data...,Data Engineering Zoomcamp,2022,NaN
395,422297,"Yes, it was not mentioned. But what was mentio...",Machine Learning Zoomcamp,2021,NaN
396,558889,Alexey\nI guess the question is why we need to...,Machine Learning Zoomcamp,2021,NaN

In [6]:
train_merged_df = pd.merge(questions, answers, on='answer_id', how='inner', suffixes=('_question', '_answer'))

In [7]:
train_merged_df

,question_id,question,course_question,year_question,candidate_answers,answer_id,answer,course_answer,year_answer,attachments_files
0,79062,"For categorical target set, where the distribu...",Machine Learning Zoomcamp,2021,"156400,754877,105368,643810,912439",156400,Alexey\nShould we use something non-standard t...,Machine Learning Zoomcamp,2021,NaN
1,468946,Is there anything that we are not allowed to u...,Machine Learning Zoomcamp,2021,"641330,634887,912439,425941,642829",634887,"No, I don't think there is anything you cannot...",Machine Learning Zoomcamp,2021,NaN
2,968800,I have been catching up and have been doing ho...,Data Engineering Zoomcamp,2022,"954016,167856,75919,36798,838013",954016,"Alexey\nYes, you will be. You can submit the p...",Data Engineering Zoomcamp,2022,NaN
3,688404,Could you please explain what code we should l...,Data Engineering Zoomcamp,2022,"198661,629898,686577,3699,141765",3699,Alexey\nI think the question refers to the hom...,Data Engineering Zoomcamp,2022,NaN
4,63921,Is it just me or does the model have really ba...,Machine Learning Zoomcamp,2021,"754877,604487,912439,858915,425941",858915,"Dmitry\nIt's fine, because this is the showcas...",Machine Learning Zoomcamp,2021,NaN
...,...,...,...,...,...,...,...,...,...,...
394,241788,Can the model with the ROC AUC score of around...,Machine Learning Zoomcamp,2021,"274012,831391,912439,596854,214199",831391,"Yes, it can. It's really dataset dependent. Fo...",Machine Learning Zoomcamp,2021,NaN
395,595103,When I click tab in the parentheses of the iPy...,Machine Learning Zoomcamp,2021,"325935,651754,478055,214199,912439",651754,"Let's say I do “import numpy as np” and then, ...",Machine Learning Zoomcamp,2021,NaN
396,450348,Can you please explain the use cases of Splunk...,Data Engineering Zoomcamp,2022,"432981,908368,296080,131069,733226",733226,Alexey\nSplunk – I don’t know. It's not a data...,Data Engineering Zoomcamp,2022,NaN
397,864660,Why did you use model2bin in the last question...,Machine Learning Zoomcamp,2021,"40420,422297,32377,169051,623076",422297,"Yes, it was not mentioned. But what was mentio...",Machine Learning Zoomcamp,2021,NaN
398,205640,Would you mind clarifying evaluation on test a...,Machine Learning Zoomcamp,2021,"604487,754877,558889,214199,596854",558889,Alexey\nI guess the question is why we need to...,Machine Learning Zoomcamp,2021,NaN

In [8]:
checkpoint = "bert-base-uncased"
tokenizer = AutoTokenizer.from_pretrained(checkpoint)

In [9]:
print(train_merged_df.iloc[0]['question'])
tokenizer(train_merged_df.iloc[0]['question'])

For categorical target set, where the distribution is imbalanced (for example, 90/10) what approach should be used?

{'input_ids': [101, 2005, 4937, 27203, 4539, 2275, 1010, 2073, 1996, 4353, 2003, 10047, 26657, 2094, 1006, 2005, 2742, 1010, 3938, 1013, 2184, 1007, 2054, 3921, 2323, 2022, 2109, 1029, 102], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [10]:
print(train_merged_df.iloc[0]['answer'])
tokenizer(train_merged_df.iloc[0]['question'], train_merged_df.iloc[0]['answer'])

Alexey
Should we use something non-standard there or can we just go with the usual things we learned in the course?
Hamed
You just need to test different strategies. Something I noticed – if you have so many parse subclasses in your categorical [inaudible], you should be careful about using one-hot encoding. You might say you can use ordinal encoding, if your data in nature had some order. It will be useful. In my particular data, I couldn't have domain knowledge. I didn't know what the subclasses were, so I couldn't decide which strategy I should choose. But if you have the domain knowledge, that’s the key here, I think.

{'input_ids': [101, 2005, 4937, 27203, 4539, 2275, 1010, 2073, 1996, 4353, 2003, 10047, 26657, 2094, 1006, 2005, 2742, 1010, 3938, 1013, 2184, 1007, 2054, 3921, 2323, 2022, 2109, 1029, 102, 4074, 3240, 2323, 2057, 2224, 2242, 2512, 1011, 3115, 2045, 2030, 2064, 2057, 2074, 2175, 2007, 1996, 5156, 2477, 2057, 4342, 1999, 1996, 2607, 1029, 10654, 2098, 2017, 2074, 2342, 2000, 3231, 2367, 9942, 1012, 2242, 1045, 4384, 1516, 2065, 2017, 2031, 2061, 2116, 11968, 3366, 4942, 26266, 2229, 1999, 2115, 4937, 27203, 1031, 27118, 21041, 3468, 1033, 1010, 2017, 2323, 2022, 6176, 2055, 2478, 2028, 1011, 2980, 17181, 1012, 2017, 2453, 2360, 2017, 2064, 2224, 2030, 18979, 2140, 17181, 1010, 2065, 2115, 2951, 1999, 3267, 2018, 2070, 2344, 1012, 2009, 2097, 2022, 6179, 1012, 1999, 2026, 3327, 2951, 1010, 1045, 2481, 1005, 1056, 2031, 5884, 3716, 1012, 1045, 2134, 1005, 1056, 2113, 2054, 1996, 4942, 26266, 2229, 2020, 1010, 2061, 1045, 2481, 1005, 1056, 5630, 2029, 5656, 1045, 2323, 5454, 1012, 2021, 2065, 2017, 2031, 1996, 5884, 3716, 1010, 2008, 1521, 1055, 1996, 3145, 2182, 1010, 1045, 2228, 1012, 102], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [11]:
train_merged_df['question']

0      For categorical target set, where the distribu...
1      Is there anything that we are not allowed to u...
2      I have been catching up and have been doing ho...
3      Could you please explain what code we should l...
4      Is it just me or does the model have really ba...
                             ...
394    Can the model with the ROC AUC score of around...
395    When I click tab in the parentheses of the iPy...
396    Can you please explain the use cases of Splunk...
397    Why did you use model2bin in the last question...
398    Would you mind clarifying evaluation on test a...
Name: question, Length: 399, dtype: object

In [12]:
tokens = tokenizer(train_merged_df['question'].tolist() , train_merged_df['answer'].tolist(), padding="max_length")

In [13]:
tokens.keys()

dict_keys(['input_ids', 'token_type_ids', 'attention_mask'])

In [14]:
len(tokens['attention_mask'][5])

567

In [15]:
len(tokens['input_ids'])

399

In [16]:
model = TFAutoModelForSequenceClassification.from_pretrained(checkpoint)

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

Downloading model.safetensors:   0%|          | 0.00/440M [00:00<?, ?B/s]

All PyTorch model weights were used when initializing TFBertForSequenceClassification.

Some weights or buffers of the TF 2.0 model TFBertForSequenceClassification were not initialized from the PyTorch model and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

%pip install --upgrade pip

%pip install tensorflow