In [14]:
import pandas as pd
import numpy as np

In [3]:
questions = pd.read_csv('data/train_questions.csv')
answers = pd.read_csv('data/train_answers.csv')

In [4]:
questions

,question_id,question,course,year,candidate_answers,answer_id
0,79062,"For categorical target set, where the distribu...",Machine Learning Zoomcamp,2021,"156400,754877,105368,643810,912439",156400
1,468946,Is there anything that we are not allowed to u...,Machine Learning Zoomcamp,2021,"641330,634887,912439,425941,642829",634887
2,968800,I have been catching up and have been doing ho...,Data Engineering Zoomcamp,2022,"954016,167856,75919,36798,838013",954016
3,688404,Could you please explain what code we should l...,Data Engineering Zoomcamp,2022,"198661,629898,686577,3699,141765",3699
4,63921,Is it just me or does the model have really ba...,Machine Learning Zoomcamp,2021,"754877,604487,912439,858915,425941",858915
...,...,...,...,...,...,...
392,241788,Can the model with the ROC AUC score of around...,Machine Learning Zoomcamp,2021,"274012,831391,912439,596854,214199",831391
393,595103,When I click tab in the parentheses of the iPy...,Machine Learning Zoomcamp,2021,"325935,651754,478055,214199,912439",651754
394,450348,Can you please explain the use cases of Splunk...,Data Engineering Zoomcamp,2022,"432981,908368,296080,131069,733226",733226
395,864660,Why did you use model2bin in the last question...,Machine Learning Zoomcamp,2021,"40420,422297,32377,169051,623076",422297
396,205640,Would you mind clarifying evaluation on test a...,Machine Learning Zoomcamp,2021,"604487,754877,558889,214199,596854",558889

In [5]:
answers

,answer_id,answer,course,year,attachments_files
0,156400,Alexey\nShould we use something non-standard t...,Machine Learning Zoomcamp,2021,NaN
1,634887,"No, I don't think there is anything you cannot...",Machine Learning Zoomcamp,2021,NaN
2,954016,"Alexey\nYes, you will be. You can submit the p...",Data Engineering Zoomcamp,2022,NaN
3,3699,Alexey\nI think the question refers to the hom...,Data Engineering Zoomcamp,2022,NaN
4,858915,"Dmitry\nIt's fine, because this is the showcas...",Machine Learning Zoomcamp,2021,NaN
...,...,...,...,...,...
392,831391,"Yes, it can. It's really dataset dependent. Fo...",Machine Learning Zoomcamp,2021,NaN
393,651754,"Let's say I do “import numpy as np” and then, ...",Machine Learning Zoomcamp,2021,NaN
394,733226,Alexey\nSplunk – I don’t know. It's not a data...,Data Engineering Zoomcamp,2022,NaN
395,422297,"Yes, it was not mentioned. But what was mentio...",Machine Learning Zoomcamp,2021,NaN
396,558889,Alexey\nI guess the question is why we need to...,Machine Learning Zoomcamp,2021,NaN

In [6]:
questions['answer_id'].value_counts().sort_values(ascending=False)

answer_id
774098    2
373352    1
3699      1
858915    1
830918    1
         ..
651754    1
733226    1
422297    1
629809    1
558889    1
Name: count, Length: 396, dtype: int64

In [7]:
ml_qa = pd.merge(left=questions[questions['course'] == 'Machine Learning Zoomcamp'], right=answers, left_on='answer_id',
                 right_on='answer_id', how='inner')[['question', 'answer']]

In [8]:
ml_qa

,question,answer
0,"For categorical target set, where the distribu...",Alexey\nShould we use something non-standard t...
1,Is there anything that we are not allowed to u...,"No, I don't think there is anything you cannot..."
2,Is it just me or does the model have really ba...,"Dmitry\nIt's fine, because this is the showcas..."
3,We used tf.keras.layers.GlobalAveragePooling2D...,Let's say we have a two dimensional thing (2D)...
4,"If you pickle load an object, are all the meth...","Kind of. Actually, pickle expects that you hav..."
...,...,...
196,Is TensorFlow always used with Keras? I heard ...,"Dmitry\nNo? Before, it was kind of different t..."
197,Can the model with the ROC AUC score of around...,"Yes, it can. It's really dataset dependent. Fo..."
198,When I click tab in the parentheses of the iPy...,"Let's say I do “import numpy as np” and then, ..."
199,Why did you use model2bin in the last question...,"Yes, it was not mentioned. But what was mentio..."
200,Would you mind clarifying evaluation on test a...,Alexey\nI guess the question is why we need to...

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
vectorizer = TfidfVectorizer()

In [38]:
x = vectorizer.fit_transform(ml_qa['question'])
y = vectorizer.fit_transform(ml_qa['answer'])

In [39]:
x.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [46]:
y.shape

(201, 2128)

In [45]:
x.shape

(201, 912)